:root{
    /* CHANGE THESE VALUES FOR COLOR */
    --overlay-color: rgba(68, 0, 101, 0.626);
    --text-background-color:rgba(47, 0, 118, 0.841);
    --nav-font: "Roboto", sans-serif;
}

html::-webkit-scrollbar{
    width:0 !important
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    width:970px;
    margin:0 auto;
}
html{
    font-family: 'Roboto', sans-serif;
    scrollbar-width: none;
}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* NAV LINK FORMATTING */
nav{
    width:100%;
}
nav ul{
    display:flex;
    list-style: none;
    gap:4px;
    justify-content: space-around;
}


nav ul a{
    text-decoration: none;
    padding:10px;
    font-family: var(--nav-font);
    font-weight:700;
    font-size: 24px;
    color:white;
}

nav ul a:hover{
    border-bottom: 2px solid rgb(0, 200, 255);
    
}


.overlay{
    position: fixed;
    left:0;
    background:linear-gradient(var(--overlay-color),var(--overlay-color)), url(/img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height:100vh;
    z-index: -1;
}

.video{
    margin:40px 0;
}

.logo{
    width:600px;
}



.text-background{
    padding:24px;
    background-color: var(--text-background-color);
    border-radius: 5px;
}


.textbox{
    margin-top:40px;
    color:white;
}

.textbox ul{
    list-style: inside;
}

.textbox ul li{
    margin-bottom:12px;
}
.textbox h2{
    font-size: 32px;
    margin-bottom:16px;
    margin-left:16px;
}

.button{
    margin-bottom:40px;
    padding:20px 40px;
    background:rgb(40, 0, 173);
    border-radius: 5px;
    color:white;
}